// --------------------- COLORS

$ui-color-corporate:		#8D81AC;
$ui-color-corporate-pale:	#A291A5;
$ui-color-burger:			#ffffff;
$ui-color-text-grey:		#848E97;
$ui-color-text-ondark:		#ffffff;
$ui-color-hover-ondark:		#ffffff;

$ui-bg-dark:				#27262A;
$ui-bg-corporate:			#483C4D;
$ui-bg-separator-about:		#645766;
$ui-bg-separator-buying:	#8d81ac;
$ui-bg-menu:				#3b3b3b;
$ui-bg-menu-item:			#333333;
$ui-bg-light:				#ffffff;

$ui-bg-buy-head:			#ffffff0f; // alpha 6%
$ui-bg-buy-card:			#ffffff1c; // alpha 11%
$ui-bg-buy-btn:				#ffffff26; // alpha 15%

$ui-bg-buy-head-featured:	#0000001c; // alpha 11%
$ui-bg-buy-card-featured:	#463048d6; // alpha 84%





// --------------------- BREAKPOINTS AND SIZES

$ui-min-width:			320px;

$ui-breakpoint-s:		480px;	// max mobile
$ui-breakpoint-s-min:	481px;	// min tablet

$ui-breakpoint-l:		992px;	// max tablet
$ui-breakpoint-l-min:	993px;	// min desktop

$ui-max-width:			1200px;	// max container width

$nav-height-mobile:		103px;
$nav-height-tablet:		74px;
$nav-height-desktop:	100px;




// --------------------- Z-INDEX

$ui-index-1: 1; // hover elements
$ui-index-2: 2; // hover elements
$ui-index-3: 3; // hover elements
$ui-index-4: 4; // hover elements
$ui-index-5: 5; // hover elements

$ui-index-6: 6; // darkening and blur masks
$ui-index-7: 7; // sidebars
$ui-index-8: 8; // modals
$ui-index-9: 9; // above-all elements




// --------------------- TRANSITIONS

$ui-transition-default: 0.25s;
