@mixin fat-text {
	font-family: Montserrat;
	font-weight: 700;
	font-style: normal;
	color: $ui-color-corporate;
	text-decoration: none;
	text-transform: capitalize;
}

@mixin btn-hover {
	color: $ui-color-corporate;
	background-color: $ui-bg-light;
}